<div ng-controller='userCtrl'>
  <md-toolbar layout="row" class "md-padding">
    <div class="md-toolbar-tools">
      <md-button id="logo" ng-click="logout()">DOC
        <ng-md-icon icon="cloud" style="fill: white; margin-top: -7px;" size="40"></ng-md-icon>
      </md-button>
      <!-- <span flex></span> -->
      <md-fab-speed-dial md-open="false" layout="row" layout-align="end center" 
flex md-direction="left" ng-class="md-fling">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-warn">
            Hi, {{user.username}}
          </md-button>
         </md-fab-trigger>
        <md-fab-actions>
          <md-button ng-click="toProfile()" class="md-fab md-warn md-raised" aria-label="Account">
            <ng-md-icon icon="account_box" size="25"></ng-md-icon>
          </md-button>
          <md-button aria-label="Logout" class="md-fab md-warn md-raised" ng-click="logout()">
            <ng-md-icon icon="logout" size="25"></ng-md-icon>
          </md-button>
        </md-fab-actions>
     </md-fab-speed-dial>
    </div>
  </md-toolbar>
  <md-content id="view-body">
    <div>
      <div layout="row" class='top-icon'>
        <md-button class="md-fab md-fab-top-right md-warn" aria-label="Add" ng-click="toCreateView()">
          <ng-md-icon icon="add" style="fill: white" size="40"></ng-md-icon>
        </md-button>
      </div>
      <div data-ng-init="fetchMyDocs()">
        <div layout="row" layout-sm="column" layout-wrap layout-align="center" id="doc-list">
          <md-card flex="30" flex-sm="33" flex-md="40" ng-repeat="doc in userDocs | orderBy: 'dateCreated'">
            <md-card-content style="height: 70px">
              <h2 class="md-title">{{doc.title | uppercase}}</h2>
              <span class="gap">{{(doc.content).substring(0, 70)+'...'}}</span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <md-button class="md-primary" aria-label="mode_view" ng-click="showEditModal(doc._id, false)"><ng-md-icon icon="open_in_new" style="fill: grey" size="25"></ng-md-icon></md-button>
              <md-button class="md-primary" aria-label="mode_edit" ng-click="showEditModal(doc._id, true)"><ng-md-icon icon="mode_edit" style="fill: grey" size="25"></ng-md-icon></md-button>
              <md-button class="md-primary" aria-label="delete" ng-click="deleteDocument(doc._id)"><ng-md-icon icon="delete" style="fill: grey" size="25"></ng-md-icon></md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>
  </md-content>
</div>
